
extends layout

block content
    form(method='POST' action='/new')
        input(type='text', placeholder='Text' name='text' id='title')
        input(type='text' placeholder='User' name='user' id='username')
        button(type='submit' id='submit-btn')= 'post'